button,
div,
form,
input, .row {
  margin: 5px;
}

  body {
  background-image: url("../images/placeimg.jpg");

 }
#row2 {
  display: flex;
flex-wrap: wrap;
}

#row3 {
  float: right;
  color: white;
  }


#add-topic, #row3, #topic-input {
  margin-bottom: 10px;
  font-size: 15px;
  padding: 5px  10px;
  border: none;
  border-radius: 15px;
  /* box-shadow: 0 9px #999; */
}

.btnstyle {

  background-color: white; 
  color: black; 
 
}

.btnstyle:hover {
  background-color: black;
  color: white;
}

.btnstyle:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  max-width: 150px;
  height: 150px;
  margin: 5px;
  /* float: left; */
 }

.row {

  color: white;
}

p{
  display: inline;
}




